<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dietmate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DietMate">
        <activity
            android:name=".activities.OverweightActivity"
            android:label="@string/title_activity_overweight"
            android:theme="@style/Theme.DietMate.NoActionBar"></activity>
        <activity
            android:name=".activities.DisplayDietActivity"
            android:label="@string/title_activity_display_diet"
            android:theme="@style/Theme.DietMate.NoActionBar" />
        <activity
            android:name=".activities.ActivityLevelActivity"
            android:label="@string/title_activity_acitivity_level"
            android:theme="@style/Theme.DietMate.NoActionBar" />
        <activity
            android:name=".activities.UserStatsActivity"
            android:label="@string/title_activity_user_stats"
            android:theme="@style/Theme.DietMate.NoActionBar" />
        <activity
            android:name=".activities.WeightlifterActivity"
            android:label="@string/title_activity_weightlifter"
            android:theme="@style/Theme.DietMate.NoActionBar" />
        <activity
            android:name=".activities.DietTypeActivity"
            android:label="@string/title_activity_diet_type"
            android:theme="@style/Theme.DietMate.NoActionBar" />
        <activity
            android:name=".activities.DietListActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.DietMate.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.DietMate.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>